:root {
  /* colors */

  --font-family-main: 'Circe', sans-serif;
  --font-family-secondary: 'Poppins', sans-serif;

  --pimary-text-color: #000000;
  --secondary-text-color: #bdbdbd;
  --third-text-color: #ffffff;
  --fourth-text-color: #e0e0e0;
  --green-text-color: #24cca7;
  --pink-text-color: #ff6596;
  --btn-accent-color: #4a56e2;

  --primary-background-color: #e7eaf2;
  --white-background-color: #ffffff;
  --green-background-color: #24cca7;
  --blue-background-color: #4a56e2;

  --elips-beige-background-color: #ffd8d0;
  --elips-purple-background-color: #c5baff;

  --green-accent-color: #24cca7;
  --green-accent-color-second: #92e6d3;
  --pink-accent-color: #ff6596;
  --pink-accent-color-second: #ffb2cb;
  /* animation */

  --shift: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
