 .btnD{
  margin-right: 5px;
  margin-top: 3px;
  color: var(--secondary-text-color);;
  font-size: 35px;
  background: transparent;
  border: none;
 }
  .btnL {
    margin-right: 5px;
    margin-top: 3px;
    color: white;
    font-size: 35px;
    background: transparent;
    border: none;
  }