.wrapper {
  height: 80px;
  padding: 8px 40px 13px;
  width: 280px;
  margin-bottom: 30px;

  background: #ffffff;
  border-radius: 30px;
}

@media screen and (min-width: 768px) {
  .wrapper {
    width: 334px;
    margin-bottom: 0px;
  }
}

@media screen and (min-width: 1280px) {
  .wrapper {
    width: 395px;
    margin-bottom: 30px;
  }
}

.title {
  text-align: start;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.5;
  text-transform: uppercase;
  margin: 0;

  color: #a6a6a6;
}

.text {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 1.5;
  display: flex;
  align-items: center;
  margin: 0;

  color: #000000;
}

.currency {
  font-weight: 300;
  margin-right: 10px;
}
